*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Open Sans', 'sans-serif';
    display: flex;
    flex-direction: column;
    background: #001d3d;
    color: #fff;
    /*align-items: center; 
    justify-content: center; */
    height: 100vh;
    margin: 0;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    margin: 28px auto;
    margin-bottom: 28px;
    max-width: 800px;
    width: 100%;
}

h2{
    padding: 1rem;
    font-size: 36px;
    font-weight: 500px;
}

form{
    display: flex;
    margin-top: 15px;
}

.input-text{
    padding: 0.7rem 1rem;
    padding-right: 5rem;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
    border: none;
}

.input-text:focus{
    outline: none;
}

.input-text:focus{
    border: 2px #021830 solid;
}

form .btn{
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #ffd60a;
}

.added-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 28px;
    margin-bottom: 20px;
}

.tasks{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #021830;
    padding: 1rem 1rem;
    border-radius: 20px;
} 

.content{
    padding: 1rem, 2rem;
}

.content{
    flex: 1 1 0%;
}

input.text{
    font-size: 18px;
    color: #fff;
}

input{
    background: none;
    outline: none;
    border: none;
}

.btn{
    border: none;
    padding: 0.5rem 0.7rem;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #ffd60a;
}

/* .tasks{
    display: flex;
    align-items: center;
    background: #021830;
    padding: 1rem 1rem;
    border-radius: 20px;
}

content{
    flex: 1 1 0%;
}


.text{
    font-size: 18px;
    border: none;
    color: #fff;
}

input{
    background: none;
    outline: none;
}

.btn{
    border: none;
    padding: 0.5rem 0.7rem;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #ffd60a;
} */

/* .delete{
    border: none;
    padding: 0.5rem 0.7rem;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #ffd60a;
} */

.btn:hover{
    transition: all 0.3s ease-in;
    background:#e0bc06;
    color: #fff;
}